# =========================
# Compilación (Maven/Java)
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Configuración sensible
# =========================
.env
application.properties